{% extends 'base.twig' %}



{% block content %}

<h2>Login</h2>

{{ flash.error|raw }} <br />

<form action="" method="POST">
    <label>Username: </label>
    <input type="text" name="username" minlength="1" required> <br />
    <label>Password: </label>
    <input type="password" name="password" required> <br />
    <div class="g-recaptcha" data-sitekey="6LeMH5kUAAAAAC6-Ooj1UHwKmgheFfs-9bwW0WYJ" data-callback="enableBtn"></div>
    <input type="button" name="submit" id="button1" value="Log in">
</form>

    <script>
        document.getElementById("button1").hidden = true;

        function enableBtn(){
            document.getElementById("button1").hidden = false;
        }
    </script>

{% endblock %}

